<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <script src="{% static 'js/index_min.js' %}" type="text/javascript"></script>

    <title>edit admin</title>
</head>

<body style="background: url({% static 'img/1.jpg' %}) no-repeat fixed; background-position: center;background-repeat: no-repeat; background-size: cover;"> 

    <div class="container">

        <div>

            <center>
                <form method="post" action="/update/{{Kyc_Infotemp.id}}">
                    {% csrf_token %}

                    <div><h2>Update table</h2></div>

                    <table class="border" style="width: 100%;">

                        <tr class="border control">
                            <td class="border">
                                <p>Id<br>
                                    <input type="text" name="id" value="{{Kyc_Infotemp.id}}" readonly>
                                </p>
                            </td>


                            <td class="border">
                                <p>Name in full<br>
                                    <input  type="text" name="full_name_temp" value="{{Kyc_Infotemp.full_name_temp}}" readonly>
                                </p>
                            </td>

                            <td class="border">
                                <p>Name with initials<br>
                                    <input type="text" name="name_init_temp" value="{{Kyc_Infotemp.name_init_temp}}">
                                </p>
                            </td>
                        

                        
                            <td class="border">
                                <p>Id type<br>
                                    <input type="text" name="id_type_temp" value="{{Kyc_Infotemp.id_type_temp}}">
                                </p>
                            </td>

                            <td class="border">
                                <p>NIC NO<br>
                                    <input type="number" name="nics_no_temp" value="{{Kyc_Infotemp.nics_no_temp}}" readonly>
                                </p>
                            </td>

                            <td class="border">
                                <p>Driving licence<br>
                                    <input type="number" name="driv_lic_temp" value="{{Kyc_Infotemp.driv_lic_temp}}">
                                </p>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <table class="border" style="width: 100%;">

                        <tr class="border control">
                            <td class="border">
                                <p>Driving licence Expire<br>
                                    <input type="date" name="driv_exp_temp" value="{{Kyc_Infotemp.driv_exp_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Passport number<br>
                                    <input type="number" name="pass_no_temp" value="{{Kyc_Infotemp.pass_no_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Passport number expire<br>
                                    <input type="date" name="pass_exp_temp" value="{{Kyc_Infotemp.pass_exp_temp}}">
                                </p>
                            </td>
                        

                        
                            <td class="border">
                                <p>Nationality<br>
                                    <input type="text" name="nationality_temp" value="{{Kyc_Infotemp.nationality_temp}}">
                                </p>
                            </td>
                        
                        
                            <td class="border">
                                <p>Other Nationality<br>
                                    <input type="text" name="nationality_other_temp" value="{{Kyc_Infotemp.nationality_other_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Date of birth<br>
                                    <input type="date"  name="date_of_birth_temp" value="{{Kyc_Infotemp.date_of_birth_temp}}">
                                </p>
                            </td>
                        </tr>
                    </table>

                    <br>

                    <table class="border" style="width: 100%;">

                        <tr class="border control">
                            <td class="border">
                                <p>House number<br>
                                    <input type="text" name="house_no_temp" value="{{Kyc_Infotemp.house_no_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Street<br>
                                    <input type="text" name="street_temp" value="{{Kyc_Infotemp.street_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>City<br>
                                    <input type="text" name="city_temp" value="{{Kyc_Infotemp.city_temp}}">
                                </p>
                            </td>
                        


                        

                        
                            <td class="border">
                                <p>Mobile number<br>
                                    <input type="number" name="mob_no_temp" value="{{Kyc_Infotemp.mob_no_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Office phone number<br>
                                    <input type="number" name="office_num_temp" value="{{Kyc_Infotemp.office_num_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Home phone number<br>
                                    <input type="number" name="home_num_temp" value="{{Kyc_Infotemp.home_num_temp}}">
                                </p>
                            </td>
                        </tr>
                    </table>
                    
                    <br>

                    <table class="border" style="width: 100%;">

                        <tr class="border control">
                            <td class="border">
                                <p>Email address<br>
                                    <input type="email" name="email_add_temp" value="{{Kyc_Infotemp.email_add_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Occupation state<br>
                                    <input type="text" name="occu_state_temp" value="{{Kyc_Infotemp.occu_state_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>RED flaged<br>
                                    <input type="text" name="red_flag_temp" value="{{Kyc_Infotemp.red_flag_temp}}">
                                </p>
                            </td>
                        
                            <td class="border">
                                <p>Green flaged<br>
                                    <input type="text" name="blue_flagadd_temp" value="{{Kyc_Infotemp.blue_flagadd_temp}}">
                                </p>
                            </td>
                      
                            <td class="border">
                                <p>Blue flaged<br>
                                    <input type="text" name="blue_flag_temp" value="{{Kyc_Infotemp.blue_flag_temp}}">
                                </p>
                            </td>
                        </tr>



                    </table>
                    
                    <br>
                    
                    <input type="submit" value="update"/> | <a href="{% url 'update' %}">back to summary page</a>

                    {% if messages %}
                        {% for records in messages %}
                        <h3 style="color: green;">{{records}}</h3>
                        {% endfor %}
                    {% endif %}

                </form>


            </center>

        </div>

    </div>

</body>
</html>