<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Document</title>

    {% load static %}    
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index_min.js' %}" type="text/javascript"></script>

</head>


<body style="background: url({% static 'img/1.jpg' %}) no-repeat fixed; background-position: center;background-repeat: no-repeat; background-size: cover;">
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message </strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>

    </div>

    {% endfor %}
    <script type="text/javascript">
        function EnableDisableTextBox() {
            var chkNo = document.getElementById("no");
            var residence_country = document.getElementById("resident");
            resident.disabled = chkNo.checked ? false : true;
            if (!resident.disabled) {
                resident.focus();
            }
        }
        function identity_recognition(){
            var NIC = document.getElementById("NIC");
            var drlicense = document.getElementById("drlicense");
            var drive_exp = document.getElementById("drive_exp");
            var passport = document.getElementById("passport");
            var passport_exp = document.getElementById("passport_exp");

            //NIC.disabled = ID_type.value = National_ID ? false : true;

            if(document.getElementById("ID_type").value == "National_ID"){
                document.getElementById("NIC").disabled = '';
                document.getElementById("passport").disabled = 'true';
                document.getElementById("drlicense").disabled = 'true';
                document.getElementById("drive_exp").disabled = 'true';
                document.getElementById("passport_exp").disabled = 'true'; 
            }
            else if(document.getElementById("ID_type").value == "Passport"){
                document.getElementById("passport").disabled = '';
                document.getElementById("passport_exp").disabled = '';
                document.getElementById("NIC").disabled = 'true';
                document.getElementById("drlicense").disabled = 'true';
                document.getElementById("drive_exp").disabled = 'true';
            }
            else if(document.getElementById("ID_type").value == "Driving_License"){
                document.getElementById("drlicense").disabled = '';
                document.getElementById("drive_exp").disabled = '';
                document.getElementById("NIC").disabled = 'true';
                document.getElementById("passport").disabled = 'true';
                document.getElementById("passport_exp").disabled = 'true';
            }
            else if(document.getElementById("ID_type").value == "Other") {  
                document.getElementById("NIC").disabled = 'true';
                document.getElementById("passport").disabled = 'true';
                document.getElementById("drlicense").disabled = 'true';
                document.getElementById("drive_exp").disabled = 'true';
                document.getElementById("passport_exp").disabled = 'true';
            }
            else if(document.getElementById("ID_type").value == "default") {  
                document.getElementById("NIC").disabled = 'true';
                document.getElementById("passport").disabled = 'true';
                document.getElementById("drlicense").disabled = 'true';
                document.getElementById("drive_exp").disabled = 'true';
                document.getElementById("passport_exp").disabled = 'true';
            }
        }
        function select_nationality(){
            if(document.getElementById("Nationality").value == "Sri Lankan"){
                document.getElementById("otherNationality").disabled = 'true';
                document.getElementById("visa").disabled = 'true';
                document.getElementById("visa_exp").disabled = 'true';
                document.getElementById("type_of_your_visa").disabled = 'true';
                document.getElementById("foreign_address").disabled = 'true';
                document.getElementById("visa_exp_other").disabled = 'true';
            }
        }
    </script>

  <div class="row">
    <div class="col-md-12 title" style="background-color: #f3f3f300;">
      <p style="padding-top:10px; padding-left:50px;color:#000"><b>Know Your Customer (KYC) Form</b></p>
    </div>
  </div>

  <div class="row" style="margin-top: -50px;">
      <div class="col-md-1">

      </div>

      <div class="col-md-5 personel_info" style="border:1px solid #000; border-radius:25px; height:850px;">

          <form action="insertkyc" method="post">
              {% csrf_token %}
                <center><h5>Personal Information</h5></center>
            <!--<div class="col-md-5 personel_info" style="border:1px solid #000; border-radius:25px;">-->
                <table align="center" width="90%">
                    <tr>
                        <td>
                            <select name="solutation" id="solutation" required="" style="width:100px;">
                                <option>Mr</option>
                                <option>Mrs</option>
                                <option>Miss</option>
                                <option>Rev</option>
                            </select>
                        </td>
                        <td>
                            <p class = "name">Name with Initials</br>
                            <input class = "nwi" type = "text" name = "nwi" placeholder = "Name with Initials" id="nwi" required="">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class = "name">Name in Full<br>
                            <input class="fullname" type="text" name="fullname" placeholder="Full Name" id="fullName" required="" style="width:95%;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p class = "name">Former Names<br>
                            <input class="former_name" type="text" name="former_name" placeholder="Enter your former names if you have any" id="former_name" style="width:95%;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class = "ID_Recognitio">Identity Recognititon
                            <select name="ID_type" id="ID_type" required="" onChange="identity_recognition()">
                                <option value="default" id="op_def">Select Your ID Type</option>
                                <option value="National_ID" id="op_nic">National ID</option>
                                <option value="Passport" id="op_passport">Passport</option>
                                <option value="Driving_License" id="op_dl">Driving License</option>
                                <!-- <option value="Senior Citizen ID">Senior Citizen ID</option> -->
                                <option value="Other" id="op_other">Other</option>
                              </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class = "NIC">NIC</br>
                            <input class="NIC" type="text" name="NIC" placeholder="NIC (fill only numbers)" id="NIC" onkeypress="isnumber(event)">
                        </td>
                        <td>
                            <p class = "DOB">Date of Birth <br>
                            <input type="date" id="birthday" name="birthday" required="">
                        </td>

                    </tr>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class = "Driving_License">Driving License<br>
                            <input class="Driving_License" type="text" name="driving_license" placeholder="Driving License" id="drlicense">
                        </td>
                        <td class="left_border">
                            <p class = "Exp">Expiration Date<br>
                            <input class="Exp" type="date" name="drive_exp" placeholder="Expire Date" id="drive_exp">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class = "Passport">Passport No.<br>
                            <input class="Passport" type="text" name="passport" placeholder="Passport" id="passport">
                        </td>
                        <td class="left_border">
                            <p class = "Exp">Expiration Date</br>
                            <input class="Exp" type="date" name="passport_exp" placeholder="Expire Date" id="passport_exp">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br><p class = "Nationality"> Nationality<br>
                            <select name="Nationality" id="Nationality" required="" onChange="select_nationality()">
                                <option value="">Select Your Nationality</option>
                                <option value="Sri Lankan">Sri Lankan</option>
                                <option value="Other">Sri Lankan with dual citizenship</option>
                                <option value="Other">Sri Lankan with foreign citizenship</option>
                                <option value="Other">Foreign National</option>
                            </select>
                        </td>
                        <td>
                            <br><p class = "Nationality">Nationality<br>
                            <input class="Nationality" type="text" name="Nationality_other" placeholder="Nationality" id="otherNationality" onkeyup="lettersOnly(this)">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Type of Visa<br>
                            <select id="visa">
                                <option>Permanent Resident</option>
                                <option>Temporary Resident</option>
                                <option>Green Card</option>
                                <option>Other</option>
                            </select>
                        </td>
                        <td class="left_border">
                            <p class = "Exp">Expiration Date</br>
                            <input class="Exp" type="date" name="visa_exp" placeholder="Expire Date" id="visa_exp">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>If other please specify<br>
                            <input class="type_of_visa" type="text" name="type_of_visa" placeholder="Type of your visa" id="type_of_your_visa">
                        </td>
                        <td class="left_border">
                            <p class = "Exp">Expiration Date</br>
                            <input class="Exp" type="date" name="visa_exp" placeholder="Expire Date" id="visa_exp_other">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <p>Foreign Address<br>
                            <input type="text" name="foreign_address" id="foreign_address" placeholder="Enter your foreign address, if you have any" style="width:95%;">
                        </td>
                    </tr>
                </table>
      </div>
        

      <!--<div class="col-md-5 contact_info" style="border-radius: 15px; border:1px solid #232322;">
        
            <center><h5>Contact Information</h5></center>
            <p style="padding-left: 35px;"><i>Residential Information</i></p>
      </div>-->
            <div class="col-md-5 contact_info" style="border:1px solid #000; border-radius:25px;">
                <center>
                    <h5>Contact Information</h5>
                </center><br>

                <p style="padding-left: 35px;"><i><b>Residential Information</b></i></p>
                <center>
                    <table width="90%">
                        <tr>
                        <td style="width:60%;" colspan="2">
                            <p>Are you a resident of Sri Lanka? &nbsp; &nbsp; &nbsp; &nbsp;
                        
                            <input type="radio"  name="residence" id="yes" value="Yes" style="height:15px; width:15px;" onclick="EnableDisableTextBox()"> &nbsp; Yes &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                         
                            <input type="radio"  name="residence" id="no" value="No" style="height:15px; width:15px;" onclick="EnableDisableTextBox()"> &nbsp; No 
                        </td>
                        </tr>
                        <tr>
                            <td style="width: 50%;">
                                <p>Country of residence</p>
                            </td>
                            <td style="width:50%;">
                                <select type="text" name="resident" id="resident" placeholder="Please enter the country of residence" width="95%">
                                    <option>Austrailia</option>
                                    <option>United States of America</option>
                                    <option>England</option>
                                    <option>India</option>
                                    <option>China</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <p style="text-align: left; padding-left: 35px;"><i>Permanent Address</i></p>
                    <table class="contact" width="90%">

                        <tr>

                            <td style="width:25%">
                                <label>House number</label>
                            </td>

                            <td style="width:30%">
                                <input type="text" name="house_number" id="houseNo" required="" placeholder="Ex; 50">
                            </td>

                            <td class="left_border" style="width:20%">
                                <label>Street</label>
                            </td>

                            <td style="width:25%">
                                <input type="text" name="street" id="street" required="" placeholder="Ex; Jaffna Rd" >
                            </td>

                        </tr>

                        <tr>

                            <td style="width:25%">
                                <label>City</label>
                            </td>

                            <td style="width:30%">
                                <Select name="city" id="city" required="" onkeyup="lettersOnly(this)">
                                    <option>Anuradhapura</option>
                                    <option>Colombo</option>
                                    <option>Kandy</option>
                                    <option>Matale</option>
                                </Select>
                            </td>

                            <td class="left_border" style="width:20%">
                                <label>Postal Code</label>
                            </td>

                            <td style="width:25%">
                                <input type="text" name="postal_code" id="postal_code" readonly>
                            </td>

                        </tr>

                    </table>
                    <p style="text-align: left; padding-left: 35px;"><i>Current Address</i></p>
                    <table class="contact" width="90%">

                        <tr>

                            <td style="width:25%">
                                <label>House number</label>
                            </td>

                            <td style="width:30%">
                                <input type="text" name="house_number" id="houseNo" required="" placeholder="Ex; 50">
                            </td>

                            <td class="left_border" style="width:20%">
                                <label>Street</label>
                            </td>

                            <td style="width:25%">
                                <input type="text" name="street" id="street" required="" placeholder="Ex; Jaffna Rd" >
                            </td>

                        </tr>

                        <tr>

                            <td style="width:25%">
                                <label>City</label>
                            </td>

                            <td style="width:30%">
                                <Select name="city" id="city" required="" onkeyup="lettersOnly(this)">
                                    <option>Anuradhapura</option>
                                    <option>Colombo</option>
                                    <option>Kandy</option>
                                    <option>Matale</option>
                                    <option>Kalutara</option>
                                </Select>
                            </td>

                            <td class="left_border" style="width:20%">
                                <label>Postal Code</label>
                            </td>

                            <td style="width:25%">
                                <input type="text" name="postal_code" id="postal_code" readonly>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">
                                <label>State of your current address</label>
                            </td>
                            <td colspan="2">
                                <select type="text" name="state_of_address" style="width:95%">
                                    <option>Owner</option>
                                    <option>Parent</option>
                                    <option>Lease/ rent</option>
                                    <option>Official</option>
                                    <option>Friend's/ Relatives</option>
                                    <option>Boarder/ Lodger</option>
                                </select> 
                            </td>
                        </tr>

                    </table>
                    <hr>
                    <p style="text-align: left; padding-left: 35px;"><i><b>Contact Information</b></i></p>

                    <table class="contact" width="90%">

                        <tr>
                            <td>

                                <p>Mobile number<br>
                                    <input type="text" name="mobile_number" id="mobile" onkeypress="isnumber(event)">
                                </p>

                            </td>

                            <td>
                                <p>Office<br>
                                    <input type="text" name="office_number" id="officetel" onkeypress="isnumber(event)">
                                </p>
                            </td>

                            <td>
                                <p>Home<br>
                                <input type="text" name="home_number" id="hometel" onkeypress="isnumber(event)">
                                </p>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <p>Email Address</p>
                            </td>

                            <td colspan="2" style="width: 100%;">
                                <input type="email" name="email" id="email" placeholder="Ex; abc@gmail.com">
                            </td>

                        </tr>

                    </table>

                </center>

                <p style="padding-left: 450px;"><button type="submit" class="btn btn-primary" name="submit" onclick="return validate()" >Next</button></p>
          </form>
      </div>

      <div class="col-md-1">
          
      </div>

  </div>
  


    {% block content %}
          
    {% endblock %}


</body>
</html>
