<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>verify</title>
</head>
<body></div></div></div></div>
<center>

<div style="margin: 20%">


<form method="get" action="verify">

<!--    <label>input send code into Email</label>-->
<!--  <input type="number" name="ecode"><br>-->

     <label>input send code into mobile</label>
  <input type="number" name="mcode"><br>
    <button  type="submit"> SUBMIT</button>

</form>
</div>
</center>
</body>
</html>